<div class="container-fluid card login-container">
  <h3 class="text-center">Create an account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let msg of errorMessage">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label">Firstname</label>
    <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" placeholder="John">
  </div>
  <div class="mb-3">
    <label class="form-label">Lastname</label>
    <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="Smith">
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Create account</em>
    </button>
    Already have an account? &nbsp;
    <button (click)="login()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Login</em>
    </button>
  </div>
</div>
